<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cutral.gitlab.io/mediciones/css/bulmaswatch.min.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css"> -->
    <meta name="description" content="{{ site.description }}" />

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ site.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cutral.gitlab.io/mediciones" />
    <meta property="og:image" content="https://cutral.gitlab.io/mediciones/assets/accu.png" />
    <meta property="og:description" content="{{ site.description }}" />
</head>
