<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Horarios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cutral.gitlab.io/mediciones/css/bulmaswatch.min.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css"> -->
    <meta name="description" content="Horarios" />

    <!-- Open Graph data -->
    <meta property="og:title" content="Horarios" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cutral.gitlab.io/mediciones/horarios" />
    <meta property="og:image" content="https://cutral.gitlab.io/mediciones/assets/ai.jpg" />
    <meta property="og:description" content="Horarios" />
</head>
