<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container is-fluid">
  <div class="navbar-brand">
    <!-- <a class="navbar-item" href="{{ site.url }}">  -->
    <a class="navbar-item">
      <img src="https://cutral.gitlab.io/mediciones/assets/tira.png" width="112" height="28">
      <!-- <span>{{ site.title }}</span> -->
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMain" class="navbar-menu">
    <div class="navbar-end">
      {% for item in site.data.navbar %}
      <a class="navbar-item" href="{{ item.link | prepend: site.url }}">
        {{ item.name }}
      </a>
      {% endfor %}
    </div>
  </div>
  </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
