<!DOCTYPE html>
<html>
  {% include head-hr.html %}
  <body>
    
    <section class="section content">
      <div class="container has-text-justified">
          <div class="columns">
          <div class="column {{ content_width }}">
            {{ content }}
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
